body {
font-family: sans-serif;
text-align: center;
overflow-x: scroll;
}
button{
position: relative;
background-color: white;
}
hr{
border-color: black;
}
#go, #newField, #darktheme, #flag{
	height:	25px;
	width: 180px;
	border-color: black;
	border-width: 2px;
}
button{
width: 30px;
height: 30px;
}
#wrapper{

white-space: nowrap;
}
p{
  font-weight: bold;
}