body {
font-family: sans-serif;
text-align: center;
overflow-x: scroll;
}

button{
position: relative;
background-color: white;
}

hr{
border-color: black;
}

#go, #newField, #darktheme, #flag{
	height:	auto;
	width: 80px;
	border-color: black;
	border-width: 2px;
}

button{
width: 20px;
height: 20px;
margin: 0px 5px 15px 5px;
font-size: 0.5em;
}

#wrapper{

white-space: nowrap;
}

p{
  font-size: 0.5em;
  font-weight: bold;
}

h1{
  font-size: 1.1em;
  font-weight: bold;
}

b{
  font-size: 0.6em;
  font-weight: bold;
}
 
input::placeholder {
  color: grey;
  font-size: 0.6em;
  font-style: italic;
}  
